<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/head') %>
		<link rel="stylesheet" href="/css/forms.css" />
		<link rel="stylesheet" href="/css/auth.css" />
	</head>

	<body>
		<%- include('../components/navigation') %>

		<main>
			<h1 class="text-center">
				<%= forgetPassword ? 'Set new password' : 'Change password' %>
			</h1>

			<% if (flashMessage.message) { %>
			<p class="message message--<%= flashMessage.type %>">
				<%= flashMessage.message %>
			</p>
			<% } %>

			<div class="grid">
				<form
					class="login-form"
					method="POST"
					action="/change-password/<%= token %>/?forget=<%= forgetPassword %>"
				>
					<% if (!forgetPassword) { %>
					<div class="form-control">
						<label for="current_password">Current Password</label>
						<input
							type="password"
							name="current_password"
							id="current_password"
							required
						/>
					</div>
					<% } %>

					<div class="form-control">
						<label for="new_password">New Password</label>
						<input
							type="password"
							name="new_password"
							id="new_password"
							required
						/>
					</div>

					<button class="btn" type="submit">
						<%= forgetPassword ? 'Set new password' : 'Change password' %>
					</button>
					<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
				</form>
			</div>
		</main>
	</body>
</html>
