<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/head') %>
		<link rel="stylesheet" href="/css/forms.css" />
		<link rel="stylesheet" href="/css/product.css" />
		<title><%= title %></title>
	</head>
	<body>
		<%- include('../components/navigation') %>
		<main>
			<h1 style="text-align: center">Edit page</h1>

			<% if (productToEdit) { %>

			<div class="grid">
				<div>
					<h2>Current Product:</h2>
					<article class="card product-item">
						<header class="card__header">
							<h1 class="product__title"><%= productToEdit.title %></h1>
						</header>
						<div class="card__image">
							<img
								src="<%=productToEdit.imageUrl %>"
								alt="<%=productToEdit.title %>"
							/>
						</div>
						<div class="card__content">
							<h2 class="product__price">$<%= productToEdit.price %></h2>
							<p class="product__description">
								<%= productToEdit.description %>
							</p>
						</div>
					</article>
				</div>

				<div>
					<h2>Edit Product:</h2>
					<%- include('../components/product-form') %>
				</div>
			</div>
			<% } %>
		</main>

		<script>
			const allInputs = document.querySelectorAll('input, textarea');

			allInputs.forEach((item) => {
				item.addEventListener('input', (e) => {
					const editingElement = e.target;
					const editingElementID = editingElement.id;
					const editingElementValue = editingElement.value;
					const isImageElement = editingElementID.startsWith('image');

					const elementToChange = isImageElement
						? document.querySelector(`.card__image img`)
						: document.querySelector(`.product__${editingElementID}`);

					switch (editingElementID) {
						case 'imageUrl':
							elementToChange.src = editingElementValue;
							break;

						case 'price':
							elementToChange.textContent = '$' + editingElementValue;
							break;

						default:
							elementToChange.textContent = editingElementValue;
							break;
					}
				});
			});
		</script>
	</body>
</html>
