<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/head') %>
	</head>
	<body>
		<%- include('../components/navigation') %>

		<main>
			<% if (cart.length) { %>
			<h1>Cart (<%= totalAmount %>)</h1>
			<h2>Total Price: $<%= totalPrice %></h2>
			<ul>
				<% cart.forEach(item => { %>
				<li>
					x<%= item.quantity %>
					<a href="/product/<%= item.productId.id  %>">
						<%=item.productId.title %></a
					>
					($<%= item.productId.price %>)

					<form
						action="/remove-from-cart/<%= item.productId.id %>"
						method="POST"
					>
						<button>Delete</button>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
					</form>
				</li>
				<% }) %>
			</ul>

			<hr />

			<form action="/create-order" method="POST">
				<button class="btn">Order Now!</button>
				<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
			</form>

			<% } else { %>
			<h1>Your cart is empty.</h1>
			<% } %>
		</main>
	</body>
</html>
