<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/head') %>
		<title><%= title %></title>
	</head>
	<body>
		<%- include('../components/navigation') %>

		<main>
			<% if (cart.length) { %>
			<h1>Cart (<%= totalAmount %>)</h1>
			<h2>Total Price: $<%= totalPrice %></h2>
			<ul>
				<% cart.forEach(item => { %>
				<li>
					x<%= item.cartItem.quantity %>
					<a href="/product/<%= item.id  %>"> <%=item.title %></a> ($<%=
					item.price %>)

					<form action="/remove-from-cart/<%= item.id %>" method="POST">
						<button>Delete</button>
					</form>
				</li>
				<% }) %>
			</ul>

			<hr />

			<form action="/create-order" method="POST">
				<button class="btn">Order Now!</button>
			</form>

			<% } else { %>
			<h1>Your cart is empty.</h1>
			<% } %>
		</main>
	</body>
</html>
