<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/head') %>
		<title><%= title %></title>
	</head>
	<body>
		<%- include('../components/navigation') %>

		<main>
			<h1>Cart (<%= totalAmount %>)</h1>
			<h2>Total Price: $<%= totalPrice %></h2>
			<ul>
				<% cart.forEach(item => { %>
				<li>
					x<%= item.amount %>
					<a href="/product/<%= item.id  %>"> <%=item.title %></a> ($<%=
					item.price %>)
				</li>
				<% }) %>
			</ul>
		</main>
	</body>
</html>
