<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/head') %>
		<link rel="stylesheet" href="/css/product.css" />
	</head>
	<body>
		<%- include('../components/navigation') %>
		<main>
			<h1>Welcone to out shop!</h1>

			<% if (latestProduct) { %>
			<h2>The latest product:</h2>

			<div class="grid">
				<article class="card product-item">
					<header class="card__header">
						<h1 class="product__title"><%= latestProduct.title %></h1>
					</header>
					<div class="card__image">
						<img
							src="<%= latestProduct.imageUrl %>"
							alt="<%= latestProduct.title %>"
						/>
					</div>
					<div class="card__content">
						<h2 class="product__price">$<%= latestProduct.price %></h2>
						<p class="product__description"><%= latestProduct.description %></p>
					</div>
					<div class="card__actions">
						<a href="/product/<%= latestProduct._id %>" class="btn">Details</a>
						<%- include('../components/add-to-cart',{id:latestProduct._id}) %>
					</div>
				</article>
			</div>
			<% } else { %>

			<h2>We have not any products yet.</h2>
			<% } %>
		</main>
	</body>
</html>
