<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/head') %>
		<title><%= title %></title>
	</head>
	<body>
		<%- include('../components/navigation') %>

		<main>
			<% if (orders.length) { %>
			<h1>Orders (<%= orders.length %>)</h1>

			<ol>
				<% orders.forEach(order => { %>
				<li>
					Order ID: <%= order._id %>
					<ul>
						<% order.products.forEach(product => { %>
						<li>
							<a href="/product/<%= product._id %>" target="_blank">
								<%= product.title %> (<%= product.quantity %>)</a
							>
						</li>
						<% }) %>
					</ul>
				</li>
				<% }) %>
			</ol>

			<% } else { %>

			<h1>No orders.</h1>
			<% } %>
		</main>
	</body>
</html>
